body {
	background-color: #243447;
	font-family: arial, sans-serif;
	color: white;
}	
header, footer {
	display: flex;
	flex-direction: row;
}
.profile-thumbnail {
	height: 70px;
	width: 70px;
	border-radius: 50%;
}
.profile-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
    margin-left: 10px;
}
.follow-btn {
	display: flex;
	justify-content: center;
	margin: 0 0 0 auto;
	padding: 10px;
	border: 0;
	border-radius: 8px;
	height: 3em;
	width: 6em;
}
a.like{
	color: black;
}
a.like:visited{
	color: red;
}
header h3, header h4 {
	display: flex;
	margin: 0;
}
.inner p {
	margin: 20px;
	font-size: 20px;

}

.inner hr {
	border-style: solid;
	border-box-sizing:center;
	margin: 20px 0;
	opacity: 0.2
}
.stats {
	display: flex;
	font-size: 18px;
}
.stats strong {
    font-size: 18px;
  }

  .stats .likes {
  	margin-left: 20px;
  }

.version u {
	display: flex;
	flex-direction: row-reverse;

}
